@using Nhom12_EWallet.ViewModels
@model IEnumerable<Nhom12_EWallet.ViewModels.UserManagementVM>
@{
    ViewData["Title"] = "Quản lý người dùng";
}
<h2 class="text-center">Quản lý người dùng</h2>

<div class="container my-3">
    <div class="table-responsive">
        <table class="text-center table table-hover table-striped align-middle text-nowrap">
            <thead class="table-dark">
                <tr>
                    <th class="py-3">ID</th>
                    <th class="py-3">Họ tên</th>
                    <th class="py-3">SĐT</th>
                    <th class="py-3">CCCD</th>
                    <th class="py-3">Email</th>
                    <th class="py-3">Số dư</th>
                    <th class="py-3">Vai trò</th>
                    <th class="py-3">Trạng thái</th>
                    <th class="py-3">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var u in Model){
                    <tr>
                        <td>@u.id</td>
                        <td>@u.fullName</td>
                        <td>@u.phoneNumber</td>
                        <td>@u.cccd</td>
                        <td>@u.email</td>
                        <td>@u.balance VNĐ</td>
                        <td>
                            @if(u.role == "User"){
                                <span>Người dùng</span>
                            }else{
                                <span class="fw-bold text-danger">@u.role</span>
                            }
                            
                        </td>
                        <td>
                            <span class="badge @(u.status == "Hoạt động" ? "bg-success" : "bg-danger")">@u.status</span>

                        </td>
                        <td>
                            @if(u.status == "Hoạt động"){
                                <button class="suatk btn btn-sm btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="" title="Sửa">
                                    <i class="fas fa-user-edit"></i>
                                </button>
                                <button class="Khoatk btn btn-sm btn-danger" type="button" data-bs-toggle="modal" data-bs-target="" title="Khóa">
                                    <i class="fas fa-user-lock"></i>
                                </button>
                            }else{
                                <button class="suatk btn btn-sm btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="" disabled>
                                    <i class="fas fa-user-edit"></i>
                                </button>
                                <button class="Khoatk btn btn-sm btn-danger" type="button" data-bs-toggle="modal" data-bs-target="" title="Mở khóa">
                                    <i class="fas fa-lock-open"></i>
                                </button>
                            }
                                    
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
